* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 600px;
  height: 700px;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
}

.text {
  background-color: white;
  display: flex;
  width: 450px;
  height: 70px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 800px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 375px;
  height: 500px;
}

button {
  background-color: white;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  height: 125px;
  width: 125px;
}

.operators {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 125px;
  height: 500px;
}

#equals {
  background-color: orange;
}